<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374945143785-9od66eg96kumhgh7oqt3rsaulul9k6ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374945143785-9od66eg96kumhgh7oqt3rsaulul9k6ad</string>
	<key>API_KEY</key>
	<string>AIzaSyCjE50cn_2Pz_8dMwqmsRhCAPYBtJJ_MSk</string>
	<key>GCM_SENDER_ID</key>
	<string>374945143785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopGetxFirebase</string>
	<key>PROJECT_ID</key>
	<string>shopapp-getx-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-getx-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374945143785:ios:19f8b522f8eea1ce938978</string>
</dict>
</plist>